.row{
    margin-left: 10px;
    color: #000000;
}

.posters{
    display: flex;
    /* padding: 10px 5; */
    overflow-x: scroll;
    position: relative;
    overflow-y:hidden ;
    margin-bottom:30px;
}

.posters::-webkit-scrollbar{
    display: none;
    position: relative;
}


.poster{
    /* position: relative; */
    max-height: 250px;
    margin-right: 0px;
    width:15rem;
}

.smallPoster{
    max-height: 100px;
}

.movie-hover{
    position:absolute;
    max-height: 250px;
    margin-right: 10px;
    margin-top:30px;
    width:5rem;
}

